flake8==3.8.4
mccabe==0.6.1
pycodestyle==2.6.0
pyflakes==2.2.0

# Deps do pytest
py==1.8.2
pluggy<1.0.0a1,==0.12
attrs==19.2.0
pyparsing==2.0.2

# Coverage
coverage==5.3
pytest-cov==2.10.1

-r requirements.txt